body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(190, 190, 190);
}

#shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  margin-top: 10vh;
  border: 5px solid black;
  border-radius: 25px;
  background-color: rgb(100, 245, 255);
}

#display {
  box-sizing: border-box;
  width: 75%;
  height: 75px;
  border: 5px solid black;
  border-radius: 25px;
  margin: 5% 0px;
  display: flex;
  justify-content: right;
  background-color: rgb(236, 236, 236);
  font-family: sans-serif
}

#display p {
  margin: 2% 0px;
  padding-right: 15px;
  font-size: 45px;
  font-weight: 550;
  font-family: sans-serif;
}

#keypad {
  box-sizing: border-box;
  width: 85%;
  height: 75%;
  border: 5px solid black;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: rgb(146, 255, 182);
}

#keypad button {
  padding: 10px;
  font-size: 25px;
  font-weight: 550;
  border: 2px solid black;
  border-radius: 25px;
  font-family: sans-serif;
}

.edgeButton {
  background-color: rgb(100, 245, 255);
}

.numPad {
  background-color: rgb(236, 236, 236);
}

#clearAll {
  grid-column: 1 / 2;
}

#multiply {
  grid-column: 4 / 5; 
  grid-row: 2 / 3;
}

#subtract {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

#sum {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

#equals {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}

#zero {
  grid-column: 1 / 3;
}
